# build-in sequences:
* container sequences
list, tuple, and collections.deque can hold items of different types.
* flat sequences
str, bytes, bytearray, memoryview, and array.array hold items of one type.

or:

* mutable sequences:
list, bytearray, array.array, collections.deque, and memoryview
* immutable sequences
tuple, str, and bytes

# how to build a sequence:
* list comprehension (*listcomps*)
* generator expression (*genexps*)

In [1]:
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[36, 162, 163, 165, 8364, 164]

## example of listcomp:

In [3]:
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

### note 
listcomp: build a new list only

tips: In Python code, line breaks are ignored inside pairs of [], {}, or ().

In [4]:
x = 'my precious'
dummy = [x for x in 'ABC']
x

'my precious'

In [5]:
x = 'ABC'
dummy = [ord(x) for x in x]
x
dummy

[65, 66, 67]

In [6]:
x

'ABC'

In [7]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

## compare with map and filter：

In [8]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

*Cartesian product using a* **list comprehension**

In [11]:
colors=['black','white']
sizes = ['s','m','l']
tshirts = [(color,size) for color in colors for size in sizes]
tshirts

[('black', 's'),
 ('black', 'm'),
 ('black', 'l'),
 ('white', 's'),
 ('white', 'm'),
 ('white', 'l')]

In [12]:
for color in colors: 
    for size in sizes:
        print((color,size))

('black', 's')
('black', 'm')
('black', 'l')
('white', 's')
('white', 'm')
('white', 'l')

In [13]:
tshirts = [(color,size) for size in sizes
                         for color in colors]
tshirts

[('black', 's'),
 ('white', 's'),
 ('black', 'm'),
 ('white', 'm'),
 ('black', 'l'),
 ('white', 'l')]

## generator expressions

In [2]:
symbols = '$¢£¥€¤'
tuple(ord(symbol)for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

 **Tuples** are not simply immutable lists.
 they can be used as immutable lists and also as records with no field names.

In [4]:
import array
array.array('I',(ord(symbol)for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [1]:
colors = ['black','white']
sizes = ['S','M','L']
for tshirt in ('%s %s'%(c,s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

## Tuples used as records

In [2]:
lax_coordinates=(33.9425,-118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)#tuple unpacking
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), 
    ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)#tuple unpacking

BRA/CE342567
ESP/XDA205856
USA/31195855

### examples of *tuple unpacking*

In [3]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

*The for loop knows how to retrieve the items of a tuple separately—this is called “unpacking.” Here we are not interested in the second item, so it’s assigned to _, a dummy variable.*

#### *tuple unpacking*--*parrallel assignment*

In [4]:
lax_coordinates=(33.9425,-118.408056)
lattitude,longitude=lax_coordinates #tuple unpacking--parrallel assignment
lattitude

33.9425

In [6]:
longitude

-118.408056

An elegant application of tuple unpacking is swapping the values of variables without using a temporary variable:

> b, a = a, b

#### *tuple unpacking--prefix an argument with a star*

In [8]:
divmod(20,8)

(2, 4)

In [9]:
t=(20,8)
divmod(*t)

(2, 4)

In [10]:
quotient,remainder = divmod(*t)
quotient,remainder

(2, 4)

#### *tuple unpacking--return multiple values*

In [12]:
import os
_,filename = os.path.split('/home/luciano/.ssh/idrsa.pub')#_:dummy variable,used as placeholder
filename

'idrsa.pub'

#### *tuple unpacking--use * \* * to grab excess items*

In [13]:
a,b, *rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [15]:
a,*body,c,d=range(5)
a,body,c,d

(0, [1, 2], 3, 4)

In [16]:
*head,b,c,d=range(5)
head,b,c,d

([0, 1], 2, 3, 4)

*a powerful feature of tuple unpacking is that it works with nested structures.*

### nested tuple unpacking

In [17]:
run example2-8.py

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### named tuples

In [18]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')# a class name and a list of field names
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [19]:
tokyo.population

36.933

In [20]:
tokyo.coordinates

(35.689722, 139.691667)

In [21]:
tokyo[1]

'JP'

_fields is a tuple with the field names of the class.


_make() allow you to instantiate a named tuple from an iterable; City(*delhi_data) would do the same.


_asdict() returns a collections.OrderedDict built from the named tuple instance. That can be used to produce a nice display of city data.

In [22]:
City._fields

('name', 'country', 'population', 'coordinates')

In [23]:
LatLong = namedtuple('Latlong','lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', Latlong(lat=28.613889, long=77.208889))])

In [24]:
for key,value in delhi._asdict().items():
    print(key+':',value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: Latlong(lat=28.613889, long=77.208889)